# Ignorer les fichiers Terraform
terraform/.terraform/

# Ignorer les dossiers de build Maven/Gradle
**/target/
**/build/

# Ignorer les fichiers de packages lourds
*.jar
*.war
*.ear
*.zip

# Ignorer les logs
*.log

# Divers fichiers temporaires
*.class

